name: Code style

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

env:
  PYTHON_VERSION: 3.9.2
  POETRY_VERSION: 1.2.2

jobs:
  build:

    runs-on: ubuntu-latest
    container:
      image: python:${{ env.PYTHON_VERSION }}

    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry==${{ env.POETRY_VERSION }}
      - name: Install Dependencies
        run: poetry install
      - name: Run pre-commit
        run: poetry run pre-commit run -a
